.titleBar {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    background-color: var(--system-backgroud);
    border-bottom: 1px solid var(--system-outline);;
}

.titleBar h1 {
    margin: 0 4px 0 12px;
    font-size: 18px;
    color: var(--system-onBackground);
}

.titleBar .dragArea {
    height: 100%;
    flex-grow: 1;
}

.titleBar .windowButtons {
    display: flex;
    height: 100%;
}

.titleBar button {
    transition: background-color 0.2s;
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBar button:hover {
    background-color: #00000028;
}

.titleBar button * {
    color: var(--system-onBackground);
}

.titleBar button svg, .titleBar button i {
    transition: opacity 0.2s;
    height: 40%;
    width: auto;
    opacity: 0.5;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

.titleBar .windowButtons .closeButton:hover {
    background-color: rgb(211, 0, 0);
}

.titleBar .windowButtons .closeButton:hover * {
    opacity: 1;
}