@font-face {
    font-family: Main;
    src: url("./Fonts/InterVariable.woff2");
}

@font-face {
    font-family: Icon;
    src: url("./Fonts/Tabler.ttf");
}

* {
    font-family: Main, Icon;
    color: var(--col-text);
    box-sizing: border-box;
    font-weight: 500;

    --col-bg: white;
    --col-overlay: rgba(255, 255, 255, 0.5);
    --col-text: #111111;
    --col-text-overlay: rgb(107 114 128);
    --col-primary: #8a48f5;
    --col-secondary: #acee3a;
    --col-tertiary: #f3e7ff;
    --col-contrast: #3B3043;
    --col-disabled: #251F29;
}

@media (prefers-color-scheme: dark) {
    * {
        --col-bg: #161616;
        --col-overlay: rgba(0, 0, 0, 0.5);
        --col-text: #F1ECF3;
        --col-text-overlay: rgb(107 114 128);
        --col-primary: #9D67F4;
        --col-secondary: #BEF264;
        --col-tertiary: #3D303B;
        --col-contrast: #3B3043;
        --col-disabled: #251F29;
    }
}

#root > h1 {
    margin: 25px;
}

.featureCards {
    height: 300px;
    width: 100%;
    padding-left: 25px;
    padding: 25px;
    display: flex;
    gap: 25px;
}


.featureCard {
    width: 100%;
    background-color: var(--col-tertiary);
    border-radius: 5px;
    padding: 15px;
    position: relative;
}


@media (max-aspect-ratio: 4/3) {
    .featureCards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .featureCard {
        min-height: 400px;
    }
}

.featureCard > h2 {
    font-size: 24px;
    margin: 0;
}

.featureCard > button {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--col-primary);
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.featureCard > button:hover {
    opacity: 0.8;
}

.footer {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: var(--col-tertiary);
    margin-top: auto;
    padding-left: 15px;
    padding-right: 15px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.footer p, .footer a {
    font-size: 14px;
    color: var(--col-text-overlay);
}

.footer a {
    color: var(--col-primary);
}

#root {
    min-height: 100vh;
    overflow-y: auto;
}

body {
    margin: 0;
    overflow-y: auto;
    background-color: var(--col-bg);
}